doctype html
html
  head
    title Main Page
  body
    if user
        div Welcome #{user.id}!
        br
    else
        h1(name="main-title") Please Login...
    br
    if !user
        a(href="/login")
          button Login
        br
        br
        a(href="/signup") 
          button Signup
    else
        a(href="/logout")
          button Logout
